.d1{
    color: violet;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:azure

}

.heading{
    color: yellowgreen;
    font-size: xx-large;
    font-family: unset;
    background-color: aquamarine;
    
}